@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #101414;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}
